<section class="w-75 mx-auto rounded bg-main-light p-3 m-5 shadow">
  <form [formGroup]="orderForm" (ngSubmit)="handleForm()" >

   <div class="form-item m-3">
    <label for="details">Details</label>
    <input formControlName="details" type="text" class="form-control" id="details" placeholder="Enter your details">
   </div>

   <div class="form-item m-3">
    <label for="phone">Phone</label>
    <input formControlName="phone" type="tel" class="form-control" id="phone" placeholder="Enter your phone">
   </div>

   <div class="form-item m-3">
    <label for="city">City</label>
    <input formControlName="city" type="text" class="form-control" id="city" placeholder="Enter your city">
   </div>

   <button class="main-btn m-3">CheckOut</button>
  </form>
</section>